@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Waiting+for+the+Sunrise&display=swap");
* {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}
